:root {
  --l-block   : 24px;
  --l-section : 32px;
}

.l-block {
  margin-bottom : var(--l-block);
}

.l-section {
  margin-bottom : var(--l-section);
}

*,
*::before,
*::after {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

body {
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;
}
