@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Poppins:wght@600&display=swap');

:root {
  --body-font         : 'Manrope', sans-serif;
  --title-font        : 'Poppins', sans-serif;

  /* line-height */
  --title-line-height : 1.6;
  --text-line-height  : 2;

  /*  Sizes*/
  --bigger-title-size : 40px;
  --big-title-size    : 32px;
  --normal-title-size : 24px;
  --small-title       : 20px;
  --normal-text-size  : 16px;
  --small-text-size   : 14px;
}
