.restaurant-item .image-container {
  aspect-ratio  : 21 / 9;
  margin-bottom : 8px;
}

.restaurant-item .image {
  width         : 100%;
  height        : 100%;
  object-fit    : cover;
  border-radius : var(--normal-radius);
}

.restaurant-item .footer {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
}
