.logo-container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  flex-grow       : 1;
}

.logo-container .subtitle {
  font-weight : 500;
}

.button-container {
  display        : flex;
  flex-direction : column;
  gap            : 24px;
  margin-bottom  : 32px;
}
